/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;400;600;700;800;900&family=Inter:wght@300;400;500;600;700;800&display=swap');

:host {
    display: block;
    width: 100%;
}